@-moz-keyframes arrow-home {
  0% {
    bottom: 15px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 15px;
  }
}
@-webkit-keyframes arrow-home {
  0% {
    bottom: 15px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 15px;
  }
}
@-o-keyframes arrow-home {
  0% {
    bottom: 15px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 15px;
  }
}
@keyframes arrow-home {
  0% {
    bottom: 15px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 15px;
  }
}
@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  position: relative;
  float: left;
  width: 100%;
}
body {
  line-height: 1;
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
  overflow-y: scroll;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  border: 0;
  background-color: transparent;
  padding: 0;
}
* {
  -webkit-overflow-scrolling: touch;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
/*::-moz-selection {
    background: text-select-background;
    color: text-select-color;
    text-shadow: none;
}

::selection {
    background: text-select-background;
    color: text-select-color;
    text-shadow: none;
}
*/
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}
.center {
  text-align: center;
  display: block;
  margin: 0 auto;
}
main {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}
*:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
body {
  position: relative;
  float: left;
  width: 100%;
}
body.no-scroll {
  overflow: hidden;
}
body h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  line-height: 60px;
  width: 100%;
  text-transform: uppercase;
}
@media (max-width: 575.98px) {
  body h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    line-height: 26px;
    font-weight: 600;
    line-height: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
body .white-text {
  color: #fff;
}
body .line-title {
  height: 5px;
  margin-bottom: 60px;
  margin-top: 60px;
}
body .line-title.bg-blue {
  background-color: #00aeef;
}
body .line-title.bg-pink {
  background-color: #ec008c;
}
body .line-title.bg-green {
  background-color: #00a500;
}
body .line-title.bg-yellow {
  background-color: #fff200;
}
body .line-title.bg-white {
  background-color: #fff;
}
@media (max-width: 575.98px) {
  body .line-title {
    display: none;
  }
}
body p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  line-height: 32px;
}
@media (max-width: 575.98px) {
  body p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}
body header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
body header #menu-btn {
  position: relative;
  float: right;
  margin: 30px 0 0 0;
  color: #231f20;
  font-size: 48px;
}
@media (max-width: 575.98px) {
  body header #menu-btn {
    margin: 10px 0 0 0;
  }
}
body header #menu {
  position: absolute;
  width: 100%;
  max-height: 0;
  background-color: rgba(0,0,0,0.95);
  overflow: hidden;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ;
  -moz-transition-timing-function: ;
  -ms-transition-timing-function: ;
  -o-transition-timing-function: ;
  transition-timing-function: ;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
body header #menu.open {
  max-height: 100vh;
}
body header #menu #close-menu-btn {
  position: relative;
  float: right;
  clear: both;
  margin: 30px 0 0 0;
  color: #fff;
  font-size: 48px;
}
@media (max-width: 575.98px) {
  body header #menu #close-menu-btn {
    margin: 10px 0 0 0;
  }
}
body header #menu nav {
  position: relative;
  float: right;
  clear: both;
  height: 100vh;
}
body header #menu nav a {
  position: relative;
  float: right;
  width: 100%;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
  line-height: 80px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ;
  -moz-transition-timing-function: ;
  -ms-transition-timing-function: ;
  -o-transition-timing-function: ;
  transition-timing-function: ;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
@media (max-width: 575.98px) {
  body header #menu nav a {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    line-height: 60px;
  }
}
body header #menu nav a.active:before,
body header #menu nav a:hover:before {
  width: calc(100% + 15px);
}
body header #menu nav a.show {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  visibility: visible;
}
body header #menu nav a span {
  position: relative;
  z-index: 6;
}
body header #menu nav a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #ec008c;
  right: -15px;
  z-index: 5;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ;
  -moz-transition-timing-function: ;
  -ms-transition-timing-function: ;
  -o-transition-timing-function: ;
  transition-timing-function: ;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
body section {
  position: relative;
  float: left;
  width: 100%;
  min-height: 250px;
}
body section#home {
  background-color: #f9f9fc;
  height: 100vh;
}
body section#home.home-programacao {
  height: auto;
}
body section#home.home-programacao #scroll-down {
  display: none;
}
body section#home .logo {
  margin-top: 15vh;
}
@media (max-width: 1299.98px) {
  body section#home .logo {
    margin-top: 10vh;
  }
}
@media (max-width: 575.98px) {
  body section#home .logo {
    margin-top: 18vh;
  }
}
body section#home .data {
  padding-left: 25px;
  margin: 5vh 0 18px;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 600;
  line-height: 40px;
}
@media (max-width: 1299.98px) {
  body section#home .data {
    margin: 3vh 0 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    line-height: 30px;
  }
}
body section#home .data span {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  line-height: 40px;
}
@media (max-width: 575.98px) {
  body section#home .data {
    margin: 6vh 0 2vh;
    padding: 0 30px;
  }
  body section#home .data img {
    width: 100%;
  }
}
body section#home p {
  padding-left: 25px;
}
body section#home #scroll-down {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #666669;
  font-size: 36px;
  z-index: 50;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -ms-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: arrow-home;
  -moz-animation-name: arrow-home;
  -ms-animation-name: arrow-home;
  -o-animation-name: arrow-home;
  animation-name: arrow-home;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -ms-animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-animation-fill-mode: alternate;
  -moz-animation-fill-mode: alternate;
  -ms-animation-fill-mode: alternate;
  -o-animation-fill-mode: alternate;
  animation-fill-mode: alternate;
}
body section#sobre {
  background-color: #fff200;
  padding-bottom: 120px;
}
body section#programacao {
  padding-top: 75px;
  padding-bottom: 60px;
  background-color: #f9f9fc;
}
body section#programacao .filtros {
  position: relative;
  margin-bottom: 50px;
  z-index: 20;
}
body section#programacao .filtros .filtro-title {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
body section#programacao .filtros .filtro-combo {
  cursor: pointer;
}
body section#programacao .filtros .filtro-combo.cidade {
  z-index: 10;
}
body section#programacao .filtros .filtro-combo .filtro-label {
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #000;
  border: 1px solid #000;
  padding: 15px;
  margin-top: 35px;
  text-transform: uppercase;
}
body section#programacao .filtros .filtro-combo .filtro-label .button-down {
  position: absolute;
  right: 15px;
  top: 13px;
  color: #666669;
}
body section#programacao .filtros .filtro-combo ul {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #666669;
  width: calc(100% - 30px);
  border: 1px solid #000;
  border-top: none;
  background-color: #fff;
  padding: 10px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  visibility: hidden;
}
body section#programacao .filtros .filtro-combo ul li {
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ;
  -moz-transition-timing-function: ;
  -ms-transition-timing-function: ;
  -o-transition-timing-function: ;
  transition-timing-function: ;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
body section#programacao .filtros .filtro-combo ul li:hover {
  background-color: #f9f9fc;
  color: #000;
}
body section#programacao .filtros .filtro-combo.aberto .filtro-label {
  border-bottom: none;
}
body section#programacao .filtros .filtro-combo.aberto ul {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  visibility: visible;
}
body section#programacao .eventos {
  z-index: 10;
}
body section#programacao .eventos .evento {
  padding: 30px;
  height: 380px;
  z-index: 5;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ;
  -moz-transition-timing-function: ;
  -ms-transition-timing-function: ;
  -o-transition-timing-function: ;
  transition-timing-function: ;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  cursor: pointer;
}
body section#programacao .eventos .evento:hover {
  z-index: 10;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
body section#programacao .eventos .evento .tipo {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}
body section#programacao .eventos .evento h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 32px;
  color: #000;
}
body section#programacao .eventos .evento .separator {
  width: 40%;
  height: 5px;
  margin: 15px 0;
}
body section#programacao .eventos .evento .palestrante {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #000;
}
body section#programacao .eventos .evento .local {
  position: absolute;
  right: 30px;
  bottom: 30px;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
}
body section#convocatoria {
  background-color: #00aeef;
  padding-bottom: 120px;
}
body section#convocatoria #faca-parte,
body section#convocatoria .typeform-share.button {
  position: relative;
  float: left;
  text-align: center;
  width: 100%;
  height: 86px;
  color: #fff;
  background-color: #ec008c;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  line-height: 86px;
  text-transform: uppercase;
  cursor: default;
  margin-top: 180px;
}
@media (max-width: 575.98px) {
  body section#convocatoria #faca-parte,
  body section#convocatoria .typeform-share.button {
    margin-top: 75px;
  }
}
body section#realizacao {
  background-color: #fff;
  padding-bottom: 100px;
}
body section#realizacao h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 50px;
  text-transform: uppercase;
}
body section#realizacao .logo-parceiro {
  display: flex;
  align-items: center;
}
@media (max-width: 575.98px) {
  body section#realizacao .logo-parceiro {
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }
}
body section#realizacao .logo-realizador {
  margin-top: 25px;
  margin-bottom: 25px;
}
@media (max-width: 575.98px) {
  body section#realizacao .logo-realizador {
    width: 90%;
  }
}
body section#realizacao .member {
  text-align: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
body section#realizacao a {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
@media (max-width: 575.98px) {
  body section#realizacao a {
    width: 100%;
  }
}
body section#realizacao a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
body section#realizacao a .logo-parceiros {
  max-width: 100%;
  max-height: 100px;
}
body section#contato {
  background-color: #fff200;
}
body section#contato a {
  position: relative;
  float: left;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: #000;
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
  padding: 120px 0;
}
@media (max-width: 575.98px) {
  body section#contato a {
    font-size: 14px;
    padding: 40px 0;
  }
}
@media (max-width: 575.98px) {
  body section#contato {
    min-height: auto;
  }
}
body footer {
  position: relative;
  float: left;
  width: 100%;
  background-color: #f9f9fc;
  height: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
}
@media (max-width: 575.98px) {
  body footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    padding-top: 10px;
  }
}
body .scroll-up-container {
  position: fixed;
  width: 100%;
  bottom: 0;
}
body .scroll-up-container #scroll-up-btn {
  position: relative;
  float: right;
  margin: 0 0 30px 0;
  color: #231f20;
  font-size: 48px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ;
  -moz-transition-timing-function: ;
  -ms-transition-timing-function: ;
  -o-transition-timing-function: ;
  transition-timing-function: ;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
body .scroll-up-container #scroll-up-btn.show {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 575.98px) {
  body .scroll-up-container #scroll-up-btn {
    margin: 0 0 30px 0;
  }
}
body .modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: 50;
  background: rgba(255,255,255,0.9);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ;
  -moz-transition-timing-function: ;
  -ms-transition-timing-function: ;
  -o-transition-timing-function: ;
  transition-timing-function: ;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
body .modal-container .bg-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.001);
}
body .modal-container.show {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  visibility: visible;
}
body .modal-container .info-evento {
  margin-top: 100px;
  margin-bottom: 100px;
/*.horario {
                margin-bottom: 5px;
            }
            .vagas {
                margin-bottom: 40px;
            }*/
}
body .modal-container .info-evento .header-evento {
  margin-left: -15px;
  width: calc(100% + 30px);
  height: 380px;
  background-color: #dedada;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
body .modal-container .info-evento .titulo-evento {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  width: 90%;
  margin-top: 30px;
  padding-left: 15px;
  line-height: 50px;
}
@media (max-width: 575.98px) {
  body .modal-container .info-evento .titulo-evento {
    font-size: 30px;
    line-height: 40px;
  }
}
body .modal-container .info-evento .separator {
  width: 160px;
  height: 5px;
  margin: 30px 25px;
}
body .modal-container .info-evento .tipo-evento {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  margin-left: 35px;
}
body .modal-container .info-evento .desc-evento {
  margin-top: 50px;
  padding-left: 35px;
  margin-bottom: 60px;
  color: #000;
}
body .modal-container .info-evento .video-evento {
  margin-left: 35px;
  width: calc(100% - 35px);
  height: 274px;
  margin-top: -30px;
  margin-bottom: 60px;
}
body .modal-container .info-evento .sub-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;
}
body .modal-container .info-evento .sub-title.palestrante {
  padding-left: 25px;
  margin-bottom: 5px;
}
body .modal-container .info-evento .sub-title.horario-label,
body .modal-container .info-evento .sub-title.duracao-label,
body .modal-container .info-evento .sub-title.vagas-label {
  margin-bottom: 5px;
}
body .modal-container .info-evento .empresa {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  padding-left: 25px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
body .modal-container .info-evento .portfolio {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  padding-left: 25px;
}
body .modal-container .info-evento .minibio {
  padding-left: 35px;
  margin-bottom: 40px;
  color: #000;
}
body .modal-container .info-evento .botao-inscrevase {
  position: relative;
  float: left;
  text-align: center;
  width: 80%;
  height: 86px;
  margin: 50px 20% 50px 0;
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  line-height: 86px;
  text-transform: uppercase;
  clear: both;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ;
  -moz-transition-timing-function: ;
  -ms-transition-timing-function: ;
  -o-transition-timing-function: ;
  transition-timing-function: ;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
body .modal-container .info-evento .botao-inscrevase:hover {
  z-index: 10;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
body .modal-container .info-evento .botao-inscrevase.inactive {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  -moz-opacity: 0.65;
  -khtml-opacity: 0.65;
  opacity: 0.65;
  cursor: default;
}
@media (max-width: 575.98px) {
  body .modal-container .info-evento .botao-inscrevase {
    width: 100%;
    margin-right: 0;
    margin-top: 10px;
  }
}
body .modal-container .info-evento .local {
  margin-left: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  line-height: 32px;
  color: #000;
}
body .modal-container .info-evento .endereco,
body .modal-container .info-evento .horario,
body .modal-container .info-evento .duracao,
body .modal-container .info-evento .vagas {
  margin-left: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #000;
  margin-bottom: 30px;
}
body .modal-container .info-evento .duracao {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #000;
  margin-bottom: 40px;
}
body .modal-container .info-evento .close-modal {
  color: #000;
  position: absolute;
  right: -45px;
  top: 0;
  font-size: 50px;
}
@media (max-width: 575.98px) {
  body .modal-container .info-evento .close-modal {
    position: fixed;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    right: auto;
    top: auto;
  }
}
body .blue {
  background-color: #00aeef;
}
body .blue .separator,
body .blue .botao-inscrevase {
  background-color: #ec008c;
}
body .blue .portfolio {
  color: #ec008c;
}
body .white {
  background-color: #fff;
}
body .white .separator,
body .white .botao-inscrevase {
  background-color: #00a500;
}
body .white .portfolio {
  color: #00a500;
}
body .yellow {
  background-color: #fff200;
}
body .yellow .separator,
body .yellow .botao-inscrevase {
  background-color: #00aeef;
}
body .yellow .portfolio {
  color: #00aeef;
}
body .green {
  background-color: #00a500;
}
body .green .separator,
body .green .botao-inscrevase {
  background-color: #fff200;
}
body .green .portfolio {
  color: #fff200;
}
body .pink {
  background-color: #ec008c;
}
body .pink .separator,
body .pink .botao-inscrevase {
  background-color: #fff;
}
body .pink .portfolio {
  color: #fff;
}
