<div class="container">
    <a id="menu-btn" href="#">
        <i class="fas fa-bars"></i>
    </a>
</div>

<div id="menu" class="clearfix">
    <div class="container">
        <a href="#" id="close-menu-btn">
            <i class="fas fa-times"></i>
        </a>
    </div>
    <div class="container">
        <nav class="col-sm-12 col-lg-7">
            <a href="/home" data-section="home" class="active"><span>Home</span></a>
            <a href="/sobre" data-section="sobre"><span>Sobre</span></a>
            <a href="/programacao" data-section="programacao"><span>Programação</span></a>
            <!-- <a href="/convocatoria" data-section="convocatoria"><span>Convocatória</span></a> -->
            <a href="/lideranca-nacional" data-section="lideranca-nacional"><span>Liderança Nacional</span></a>
            <a href="/parceiros" data-section="parceiros"><span>Parceiros</span></a>
            <a href="/contato" data-section="contato"><span>Contato</span></a>
        </nav>
    </div>
</div>