@charset "UTF-8";

font-open-sans(size, weight) {
    font-family: 'Open Sans', sans-serif;
    font-size: size;
    line-height: size;
    font-weight: weight;
}

font-oswald(size, weight) {
    font-family: 'Oswald', sans-serif;
    font-size: size;
    line-height: size;
    font-weight: weight;
}

open-sans-regular(size) {
    font-open-sans(size, 400);
}

open-sans-extrabold(size) {
    font-open-sans(size, 800);
}

oswald-regular(size) {
    font-oswald(size, 400);
}

oswald-semi-bold(size) {
    font-oswald(size, 600);
}


