body {
    rel();
    width: 100%;

    &.no-scroll {
        overflow: hidden;
    }

    h1 {
        oswald-semi-bold(40px);
        line-height: 60px;
        width: 100%;
        text-transform: uppercase;

        +mobile() {
            oswald-semi-bold(26px);
            line-height: 45px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    .white-text {
        color: white;
    }

    .line-title {
        height: 5px;
        margin-bottom: 60px;
        margin-top: 60px;

        &.bg-blue {
            background-color: dmc-blue;
        }

        &.bg-pink {
            background-color: dmc-pink;
        }

        &.bg-green {
            background-color: dmc-green;
        }

        &.bg-yellow {
            background-color: dmc-yellow;
        }

        &.bg-white {
            background-color: white;
        }

        +mobile() {
            display: none;
        }
    }

    p {
        open-sans-regular(18px);
        line-height: 32px;

        +mobile() {
            open-sans-regular(14px);
            line-height: 22px;
        }
    }

    header {
        position: fixed;
        width: 100%;
        z-index: 999;

        #menu-btn {
            posright();
            margin: 30px 0 0 0;
            color: dmc-dark-gray;
            font-size: 48px;

            +mobile() {
                margin: 10px 0 0 0;
            }
        }

        #menu {
            pabs();
            width: 100%;
            max-height : 0;
            background-color: rgba( 0, 0, 0, 0.95);
            overflow: hidden;
            transition-animate(all, 0.8s, ease('ease-out'), 0);

            &.open {
                max-height: 100vh;
            }

            #close-menu-btn {
                posright();
                clear: both;
                margin: 30px 0 0 0;
                color: white;
                font-size: 48px;

                +mobile() {
                    margin: 10px 0 0 0;
                }
            }

            nav {
                posright();
                clear both;
                height: 100vh;

                a {
                    posright();
                    width: 100%;
                    text-align: right;
                    color: white;
                    text-transform: uppercase;
                    oswald-semi-bold(50px);
                    line-height: 80px;

                    opacity: 0;
                    visibility: hidden;

                    transition-animate(all, 0.25s, ease('linear'), 0);

                    +mobile() {
                        oswald-semi-bold(40px);
                        line-height: 60px;
                    }

                    &.active, &:hover {
                        &:before {
                            width: calc(100% + 15px);
                        }
                    }

                    &.show {
                        opacity: 1;
                        visibility: visible;
                    }

                    span {
                        position: relative;
                        z-index: 6;
                    }

                    &:before {
                        content: "";
                        pabs();
                        width: 0;
                        height: 100%;
                        background-color: dmc-pink;
                        right: -15px;
                        z-index: 5;

                        transition-animate(all, 0.25s, ease('linear'), 0);
                    }
                }
            }
        }
    }

    section {
        rel();
        width: 100%;
        min-height: 250px;

        &#home {
            background-color: dmc-light-gray;
            height: 100vh;

            &.home-programacao {
                height: auto;

                #scroll-down {
                    display: none;
                }
            }

            .logo {
                margin-top: 15vh;

                @media (max-width: 1299.98px) {
                    margin-top: 10vh;
                }

                +mobile() {
                    margin-top: 18vh;
                }
            }

            .data {
                padding-left: 25px;
                margin: 5vh 0 18px;
                oswald-semi-bold(48px);
                line-height: 40px;

                @media (max-width: 1299.98px) {
                    margin: 3vh 0 15px;
                    oswald-semi-bold(40px);
                    line-height: 30px;
                }

                span {
                    oswald-regular(30px);
                    line-height: 40px;
                }

                +mobile() {
                    margin: 6vh 0 2vh;
                    padding: 0 30px;;

                    img {
                        width: 100%;
                    }
                    
                } 
            }

            p {
                padding-left: 25px;
            }

            #scroll-down {
                pabs();
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%);
                color: dmc-medium-gray;
                font-size: 36px;
                z-index: 50;

                animate(arrow-home, 1.5s, 0, ease('in-out-sine'), infinite, alternate);
            }
        }

        &#sobre {
            background-color: dmc-yellow;
            padding-bottom: 120px;
        }

        &#programacao {
            padding-top: 75px;
            padding-bottom: 60px;
            background-color: dmc-light-gray;

            .filtros {
                position: relative;
                margin-bottom: 50px;
                z-index: 20;

                .filtro-title {
                    
                    oswald-semi-bold(18px);
                    color: black;
                    text-align: center;
                    text-transform: uppercase;
                }

                .filtro-combo {
                    cursor: pointer;

                    &.cidade {
                        z-index: 10;
                    }
                    
                    .filtro-label {
                        position: relative;
                        oswald-semi-bold(18px);
                        color: black;
                        border: 1px solid black;
                        padding: 15px;
                        margin-top: 35px;
                        text-transform: uppercase;

                        .button-down {
                            position: absolute;
                            right: 15px;
                            top: 13px;
                            color: dmc-medium-gray;
                        }
                    }

                    ul {
                        position: absolute;
                        oswald-regular(18px);
                        color: dmc-medium-gray;
                        width: calc(100% - 30px);
                        border: 1px solid black;
                        border-top: none;
                        background-color: white;
                        padding: 10px 0;
                        opacity: 0;
                        visibility: hidden;

                        li {
                            padding: 10px 15px;
                            cursor: pointer;
                            transition-animate(all, 0.25s, ease('linear'), 0);

                            &:hover {
                                background-color: dmc-light-gray;
                                color: black;
                            }
                        }
                    }

                    &.aberto {
                        .filtro-label {
                            border-bottom: none;
                        }

                        ul {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

            .eventos {
                z-index: 10;
                .evento {
                    padding: 30px;
                    height: 380px;
                    z-index: 5;
                    transition-animate(all, 0.25s, ease('linear'), 0);
                    cursor: pointer;

                    &:hover {
                        z-index: 10;
                        transform: scale(1.05);
                    }

                    .tipo {
                        oswald-regular(18px);
                        text-transform: uppercase;
                        margin-bottom: 15px;
                    }

                    h3 {
                        oswald-semi-bold(26px);
                        text-transform: uppercase;
                        line-height: 32px;
                        color: black;
                    }

                    .separator  {
                        width: 40%;
                        height: 5px;
                        margin: 15px 0;
                    }

                    .palestrante {
                        text-transform: uppercase;
                        oswald-semi-bold(18px);
                        color: black;
                    }

                    .local {
                        position: absolute;
                        right: 30px;
                        bottom: 30px;
                        oswald-semi-bold(30px);
                        text-transform: uppercase;
                        color: black;
                    }

                    
                }    
            } 
        }

        &#convocatoria {
            background-color: dmc-blue;
            padding-bottom: 120px;

            #faca-parte, .typeform-share.button {
                rel();
                text-align: center;
                width: 100%;
                height: 86px;
                color: white;
                background-color: dmc-pink;
                oswald-regular(20px);
                line-height: 86px;
                text-transform: uppercase;
                cursor: default;
                margin-top: 180px;

                +mobile() {
                    margin-top: 75px;
                }
            }
        }

        &#realizacao {
            background-color: white;
            padding-bottom: 100px;

            h2 {
                oswald-semi-bold(30px);
                margin-bottom: 50px;
                margin-top: 50px;
                text-transform: uppercase;
            }

            .logo-parceiro {
                display: flex;
                align-items: center;

                +mobile() {
                    display: block;
                    text-align: center;
                    margin-bottom: 40px;
                }
            }

            .logo-realizador {
                margin-top: 25px;
                margin-bottom: 25px;

                +mobile() {
                    width: 90%;
                }
            }

            .member {
                text-align: center;
                align-items: center;
                margin-top: 25px;
                margin-bottom: 25px;
            }

            a {
                height: 100%;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                transition-animate(all, 0.25s, ease('out-quart'), 0);

                +mobile() {
                    width: 100%;
                }

                &:hover {
                    transform: scale(1.1);    
                }

                .logo-parceiros {
                    max-width: 100%;
                    max-height: 100px;
                }
            }

            
        }

        &#contato {
            background-color: dmc-yellow;

            a {
                rel();
                width: 100%;
                oswald-semi-bold(40px);
                color: black;
                text-decoration: underline;
                text-align: center;
                text-transform: uppercase;
                padding: 120px 0;

                +mobile() {
                    font-size: 14px;
                    padding: 40px 0;
                    
                }
            }

            +mobile() {
                min-height: auto;
            }
        }
    }

    footer {
        rel();
        width: 100%
        background-color: dmc-light-gray;
        height: 60px;
        open-sans-regular(14px);
        line-height: 60px;
        text-align: center;

        +mobile() {
            open-sans-regular(12px);
            padding-top: 10px;
        }
    }

    .scroll-up-container {
        position: fixed;
        width: 100%;
        bottom: 0;

        #scroll-up-btn {
            posright();
            margin: 0 0 30px 0;
            color: dmc-dark-gray;
            font-size: 48px;

            opacity: 0;
            visibility: hidden;

            transition-animate(all, 0.25s, ease('linear'), 0);

            &.show {
                opacity: 1;
                visibility: visible;
            }

            +mobile() {
                margin: 0 0 30px 0;
            }
        }
    }

    .modal-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        z-index: 50;
        background: rgba(255,255,255, 0.9);
        opacity: 0;
        visibility: hidden;
        transition-animate(all, 0.4s, ease('linear'), 0);

        .bg-modal {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.001);
        }

        &.show {
            opacity: 1;
            visibility: visible;
        }

        .info-evento {
            margin-top: 100px;
            margin-bottom: 100px;

            .header-evento {
                margin-left: -15px;
                width: calc(100% + 30px);
                height: 380px;   
                background-color: #dedada;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }

            .titulo-evento {
                oswald-semi-bold(40px);
                color: black;
                text-transform: uppercase;
                width: 90%;
                margin-top: 30px;
                padding-left: 15px;
                line-height: 50px;

                +mobile() {
                    font-size: 30px;
                    line-height: 40px;
                }
            }

            .separator {
                width: 160px;
                height: 5px;
                margin: 30px 25px;

            }

            .tipo-evento {
                oswald-semi-bold(18px);
                text-transform: uppercase;
                color: black;
                margin-left: 35px;
            }

            .desc-evento {
                margin-top: 50px;
                padding-left: 35px;
                margin-bottom: 60px;
                color: black;
            }

            .video-evento {
                margin-left: 35px;
                width: calc(100% - 35px);
                height: 274px;
                margin-top: -30px;
                margin-bottom: 60px;
            }

            .sub-title {
                oswald-semi-bold(30px);
                text-transform: uppercase;
                color: black;
                margin-bottom: 20px;

                &.palestrante {
                    padding-left: 25px;
                    margin-bottom: 5px;
                }

                &.horario-label, &.duracao-label, &.vagas-label {
                    margin-bottom: 5px;
                }
            }

            .empresa {
                oswald-regular(18px);
                padding-left: 25px;
                margin-bottom: 5px;
                text-transform: uppercase;
            }

            .portfolio {
                rel();
                width: 100%;
                margin-bottom: 20px;
                oswald-regular(18px);
                padding-left: 25px;
            }

            .minibio {
                padding-left: 35px;
                margin-bottom: 40px;
                color: black;
            }

            .botao-inscrevase {
                rel();
                text-align: center;
                width: 80%;
                height: 86px;
                margin: 50px 20% 50px 0;
                color: black;
                oswald-regular(20px);
                line-height: 86px;
                text-transform: uppercase;
                clear: both;
                transition-animate(all, 0.25s, ease('linear'), 0);

                &:hover {
                    z-index: 10;
                    transform: scale(1.05);
                }

                &.inactive {
                    opacity: .65;
                    cursor: default;
                }

                +mobile() {
                    width: 100%;
                    margin-right: 0;
                    margin-top: 10px;
                }
            }

            .local {
                margin-left: 40px;
                open-sans-extrabold(18px);
                line-height: 32px;
                color: black;
            }

            .endereco, .horario, .duracao, .vagas {
                margin-left: 40px;
                open-sans-regular(18px);
                line-height: 32px;
                color: black;
                margin-bottom: 30px;
            }
            
            /*.horario {
                margin-bottom: 5px;
            }
            .vagas {
                margin-bottom: 40px;
            }*/

            .duracao {
                open-sans-regular(18px);
                line-height: 25px;
                color: black;
                margin-bottom: 40px;
            }

            .close-modal {
                color: black;
                position: absolute;
                right: -45px;
                top: 0;
                font-size: 50px;

                +mobile() {
                    position: fixed;
                    bottom: 25px;
                    left: 50%;
                    transform: translateX(-50%);
                    right: auto;
                    top: auto;
                }
            }
        }    
    }

    .blue {
        background-color: dmc-blue;

        .separator, .botao-inscrevase {
            background-color: dmc-pink;
        }

        .portfolio {
            color: dmc-pink;
        }
    }

    .white {
        background-color: white;

        .separator, .botao-inscrevase {
            background-color: dmc-green;
        }
        
        .portfolio {
            color: dmc-green;
        }
    }

    .yellow {
        background-color: dmc-yellow;

        .separator, .botao-inscrevase {
            background-color: dmc-blue;
        }
        
        .portfolio {
            color: dmc-blue;
        }
    }

    .green {
        background-color: dmc-green;

        .separator, .botao-inscrevase {
            background-color: dmc-yellow;
        }
        
        .portfolio {
            color: dmc-yellow;
        }
    }

    .pink {
        background-color: dmc-pink;

        .separator, .botao-inscrevase {
            background-color: white;
        }
        
        .portfolio {
            color: white;
        }
    }
}